<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    
    <!-- External Stylesheets -->
    <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
          crossorigin="anonymous">
</head>
<body>
    <div class="todo-container">
        <div class="user-info">
            Welcome, <%= user.username %> | <a href="/auth/logout">Logout</a>
        </div>
        
        <h2>To-Do List</h2>
        <div class="todo">
            <!-- Todo Form -->
            <form action="/" method="POST" class="todo-header">
                <input type="text" name="content" placeholder="Add a new task" required>
                <button type="submit">
                    <span class="fas fa-plus"></span>
                </button>
            </form>
            
            <!-- Todo List -->
            <ul class="todo-list">
                <% if(locals.tasks && tasks.length > 0) { %>
                    <% tasks.forEach(task => { %>
                        <li class="todo-list-item">
                            <input type="checkbox" class="mark-completed" data-id="<%= task._id %>" <%= task.completed ? 'checked' : '' %>>
                            <span class="todo-text <%= task.completed ? 'completed' : '' %>"><%= task.content %></span>
                            <small><%= task.date.toDateString() %></small>
                            <a href="/edit/<%= task._id %>" class="edit">
                                <span class="fas fa-edit"></span>
                            </a>
                            <a href="/remove/<%= task._id %>" class="remove">
                                <span class="fas fa-times"></span>
                            </a>
                        </li>
                    <% }) %>
                <% } else { %>
                    <li class="todo-list-item">
                        <div class="todo-list-item-name">No tasks yet! Add one above.</div>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>

    <script>
        document.querySelectorAll(".mark-completed").forEach(checkbox => {
            checkbox.addEventListener("change", async (event) => {
                const taskId = event.target.getAttribute("data-id");
                const completed = event.target.checked;
                
                await fetch(`/tasks/${taskId}/complete`, {
                    method: "PUT",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ completed })
                });
                
                event.target.nextElementSibling.classList.toggle("completed", completed);
            });
        });
    </script>
</body>
</html>